:root {
  --primary: #8a73ba;
  --secondary: #87cef5;
  --primary-accent: #e1d2ff;
  --secondary-accent: #ceedff;
  --tertiary-accent: #ffe3e3;
  --line: #ccccc4;
}

body {
  margin: 0px;
  background: #fffff5;
  font-family: GilroyB, GilroyQ, Arial, Helvetica, sans-serif;
}
